.treweler-controls p input[type=checkbox] {
  margin-top: -0.25rem;
}

select.large-select{
  width: 99%;
}

select.small-select {
  width: 30%;
  float: right;
}
input.half-text {
  width: 48%;
}

select#treweler_cpt_dd_box_fullscreen {
  width: 100%;
}

.block-editor-page select#treweler_cpt_dd_box_fullscreen {
  width: 86%;
}

.block-editor-page #treweler_map_cpt_dd_box-meta .inside {
  padding: 0 14px;
  border-bottom: none;
}

.block-editor-page #treweler_map_cpt_dd_box-meta h2 {
  border-bottom: none !important;
}

.zoom-map-prev-chk {
  margin-top: 40px;
}
.multirange {
  position: relative;
  height: 1px;
}
.multirange input[type="range"]{
  -webkit-appearance: none;
  height: 1px;
  border-radius: 100px;
  outline: none;
  background: #a3a3a3;
  position: absolute;
}
.multirange input[type="range"]:active,
.multirange input[type="range"]:focus {
 outline: none;
}

.multirange input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #a3a3a3;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin: 5px 0;
  pointer-events: all;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.multirange input.active[type="range"]::-webkit-slider-thumb {
  z-index: 3;
}

p.zoom-ctrl-label {
  margin: 0 !important;
}
p.zoom-ctrl-label label span {
  font-weight: 500;
}


#setZoom_range {
	width: 70%;
    height: 1px;
    background: #a3a3a3;
    float: left;
    -webkit-appearance: none;
    outline: none;
    border-radius: 100px;
}

#setZoom_range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #a3a3a3;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.treweler-controls input[type="number"] {
  width: 27%;
}

#setZoom {
  width: 27%;
  float: right;
  margin-top: -12px;
}

#map, #marker_map, #route_map {
  margin: 10px 0;
  top: 0;
  bottom: 0;
  height: 600px;
  width:100%;
}

.mapboxgl-ctrl-geocoder--input {
  height: 36px;
  padding: 6px 6px 6px 30px !important;
}

.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-top-left {
  display: flex;
  flex-direction: column;
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl-group.treweler-fs-ctrl,
.mapboxgl-ctrl-top-left .mapboxgl-ctrl-group.treweler-fs-ctrl {
  order: 1;
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl-group.treweler-zp-ctrl,
.mapboxgl-ctrl-top-left .mapboxgl-ctrl-group.treweler-zp-ctrl {
  order: 2;
}

/* Custom Post Type Table - Map */
.post-type-map .fixed .column-post_id {
  width: 10%;
}

/* Custom Post Type Table - Marker */
.post-type-marker .fixed .column-map_title {
  width: 20%;
}

/* Custom Post Type Table - Route */
.post-type-route .fixed .column-map_title {
  width: 20%;
}

.clr-picker {
    margin: 0 0 10px 0;
}

#color-picker-btn, input.text-color-picker-btn {
    background: none;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 5px 10px 5px 40px;
	outline: none;
	cursor: pointer;
}

.clr-picker span, .map-text-color span {
	width: 30px;
    height: 30px;
    float: left;
    position: absolute;
    margin: 0 0 0 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #ddd;
	cursor: pointer;
}
.color-picker-text-name,
.color-picker-text-descr {
    position: absolute;
    z-index: 9;
}

/* Marker Style - Light */
.treweler-marker .marker,
.treweler-marker-cluster .marker {
	position: absolute;
	cursor: pointer;
	top: -13px;
	left: -14px;
}
.treweler-marker .marker-wrap,
.treweler-marker-cluster .marker-wrap {
	color: #fff;
	font-size: 10px;
	letter-spacing: 0;
	font-weight: bold;
	width: 30px;
	height: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.treweler-marker .marker__center,
.treweler-marker-cluster .marker__center {
	background-color: #fff;
	width: 6px;
	height: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.treweler-marker .marker__border,
.treweler-marker-cluster .marker__border {
	border-width: 4px;
	border-style: solid;
	border-color: #4B7715;
	transition: all 0.2s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
	border-radius: 50%;
}
.treweler-marker .marker__shadow,
.treweler-marker-cluster .marker__shadow {
	border-width: 5px;
	border-style: solid;
	border-color: rgba(255,255,255,0.4);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
	transition: all 0.2s;
	border-radius: 50%;
}
.treweler-marker .marker:hover .marker__shadow,
.treweler-marker-cluster .marker:hover .marker__shadow {
	border-width: 8px;
}

/* Marker Style - Dark */
.treweler-marker .marker--dark .marker__shadow,
.treweler-marker-cluster .marker--dark .marker__shadow {
	border-color: rgba(255,255,255,0.1);
}

/* Cluster marker */
.treweler-marker-cluster .marker--cluster .marker-wrap {
	width: 68px;
	height: 68px;
}
.treweler-marker-cluster .marker--cluster .marker__center {
	width: 26px;
	height: 26px;
	background-color: #4B7715;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
}
.treweler-marker-cluster .marker--cluster .marker__border {
	border-width: 8px;
	border-color: rgba(75,119,21,0.4);
}
.treweler-marker-cluster .marker--cluster .marker__shadow {
	border-width: 8px;
	border-color: rgba(75,119,21,0.1);
	box-shadow: none;
}
.treweler-marker-cluster .marker--cluster:hover .marker__border {
	border-width: 10px;
}
.treweler-marker-cluster .marker--cluster:hover .marker__shadow {
	border-width: 11px;
}

/*
.treweler-marker.icon {
	top: -21px;
	left: 0px;
} */

/* Icon default marker
.treweler-marker .marker--icon .marker-wrap {
	width: 39px;
	height: 39px;
}
.treweler-marker .marker--icon .marker__center {
	width: 21px;
	height: 21px;
	background-color: #4B7715;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
}
.treweler-marker .marker--icon .marker__border {
	border-width: 0;
	box-shadow: none;
}
.treweler-marker .marker--icon .marker__shadow {
	border-width: 6px;
}
.treweler-marker .marker--icon:hover .marker__shadow {
	border-width: 9px;
}
*/

/* Treweler - Routes profile controls */
.mapbox-directions-profile {
    background: #fff;
    margin: 20px 0 0;
    padding: 2px;
    border-radius: 15px;
    vertical-align: middle;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
	width: 337px;
    height: 26px;
    left: 10px;
    position: absolute;
    z-index: 1;
}

.mapbox-directions-profile input[type=radio] {
    display: none;
}

.mapbox-directions-profile input[type=radio]:checked + label:hover,
.mapbox-directions-profile input[type=radio]:checked + label {
    background: #317CFC;
    color: rgb(255, 255, 255)
}

.mapbox-directions-profile label {
    cursor: pointer;
    vertical-align: top;
    display: block;
    border-radius: 16px;
    padding: 3px 5px;
    font-size: 12px;
    color: rgba(0,0,0,.5);
    line-height: 20px;
    text-align: center;
    width: 22%;
    float: left;
}

/* Treweler - Route Direction Steps */
.post-type-route .info-box {
	color: #23282d;
    width: 100%;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 0em;
}
.post-type-route .info-box #info {
	font-size: 16px;
}
.post-type-route .info-box #directions {
	position: relative;
}
.post-type-route .info-box #directions h2 {
	padding: 10px 0px;
	font-size: 16px;
	color: #fff;
}
.post-type-route .info-box #directions ul {
	margin: 0px;
    font-size: 12px;
}
.post-type-route .info-box #directions ul li {
	margin: 0 0 10px 15px;
}
.post-type-route .info-box #directions ul li:before {
    content: " ";
    height: 8px;
    width: 8px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin: 5px 0 0 0;
}

.post-type-route .info-box #directions span#direction-error {
    font-size: 13px;
    color: red;
}
