* {
	margin: 0;
	padding: 0;
}

/* IMPORING GOOGLE FONTS (PUBLIC SANS) */

@import url('https://fonts.googleapis.com/css?family=Public+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* IMPORING AKROBAT FONT */

@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 100;
	src: local('Akrobat-Thin'),
	url('../fonts/Akrobat-Thin.woff2') format('woff2'),
	url('../fonts/Akrobat-Thin.woff') format('woff'),
	url('../fonts/Akrobat-Thin.ttf') format('ttf'),
	url('../fonts/Akrobat-Thin.eot') format('eot');
}

@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 200;
	src: local('Akrobat-ExtraLight'),
	url('../fonts/Akrobat-ExtraLight.woff2') format('woff2'),
	url('../fonts/Akrobat-ExtraLight.woff') format('woff'),
	url('../fonts/Akrobat-ExtraLight.ttf') format('ttf'),
	url('../fonts/Akrobat-ExtraLight.eot') format('eot');
}

@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 300;
	src: local('Akrobat-Light'),
	url('../fonts/Akrobat-Light.woff2') format('woff2'),
	url('../fonts/Akrobat-Light.woff') format('woff'),
	url('../fonts/Akrobat-Light.ttf') format('ttf'),
	url('../fonts/Akrobat-Light.eot') format('eot');
}

@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 400;
	src: local('Akrobat-Regular'),
	url('../fonts/Akrobat-Regular.woff2') format('woff2'),
	url('../fonts/Akrobat-Regular.woff') format('woff'),
	url('../fonts/Akrobat-Regular.ttf') format('ttf'),
	url('../fonts/Akrobat-Regular.eot') format('eot');
}

@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 600;
	src: local('Akrobat-SemiBold'),
	url('../fonts/Akrobat-SemiBold.woff2') format('woff2'),
	url('../fonts/Akrobat-SemiBold.woff') format('woff'),
	url('../fonts/Akrobat-SemiBold.ttf') format('ttf'),
	url('../fonts/Akrobat-SemiBold.eot') format('eot');
}

@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 700;
	src: local('Akrobat-Bold'),
	url('../fonts/Akrobat-Bold.woff2') format('woff2'),
	url('../fonts/Akrobat-Bold.woff') format('woff'),
	url('../fonts/Akrobat-Bold.ttf') format('ttf'),
	url('../fonts/Akrobat-Bold.eot') format('eot');
}

@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 800;
	src: local('Akrobat-ExtraBold'),
	url('../fonts/Akrobat-ExtraBold.woff2') format('woff2'),
	url('../fonts/Akrobat-ExtraBold.woff') format('woff'),
	url('..fonts/Akrobat-ExtraBold.ttf') format('ttf'),
	url('../fonts/Akrobat-ExtraBold.eot') format('eot');
}


@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 900;
	src: local('Akrobat-Black'),
	url('../fonts/Akrobat-Black.woff2') format('woff2'),
	url('../fonts/Akrobat-Black.woff') format('woff'),
	url('../fonts/Akrobat-Black.ttf') format('ttf'),
	url('../fonts/Akrobat-Black.eot') format('eot');
}

/* END IMPORING AKROBAT FONT */

body {
	font-family: 'Public Sans', sans-serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #3C3D35;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mapboxgl-ctrl-top-left {
    z-index: 10;
}

.marker {
  background-size: contain;
}

.map-wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.treweler-map {
  height: 100px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.treweler-map-fw {
  width: 100vw !important;
  max-width: inherit !important;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.treweler-map canvas.mapboxgl-canvas {
  width: 100% !important;
}

/* Marker Style - Light */

/** REMOVE **
.treweler-marker .marker {
	position: absolute;
	cursor: pointer;
	top: -13px;
	left: -14px;
}
.treweler-marker .marker-wrap {
	color: #fff;
	font-size: 10px;
	letter-spacing: 0;
	font-weight: bold;
	width: 30px;
	height: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.treweler-marker .marker__center {
	background-color: #fff;
	width: 6px;
	height: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.treweler-marker .marker__border {
	border-width: 4px;
	border-style: solid;
	border-color: #4B7715;
	transition: all 0.2s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
	border-radius: 50%;
}
.treweler-marker .marker__shadow {
	border-width: 5px;
	border-style: solid;
	border-color: rgba(255,255,255,0.4);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
	transition: all 0.2s;
	border-radius: 50%;
}
.treweler-marker .marker:hover .marker__shadow {
	border-width: 8px;
}

// Marker Style - Dark
.treweler-marker .marker--dark .marker__shadow {
	border-color: rgba(255,255,255,0.1);
}
** REMOVE **/

/* Marker Icon */
.treweler-marker .marker.icon {
    height: 41px;
    width: 41px;
}

/* Marker Style - Light */
.treweler-marker-cluster {
    top: -15px !important;
    left: -25px !important;
}
.treweler-marker .marker,
.treweler-marker-cluster .marker {
	position: absolute;
	cursor: pointer;
	top: -13px;
	left: -14px;
}
.treweler-marker .marker-wrap,
.treweler-marker-cluster .marker-wrap {
	color: #fff;
	font-size: 10px;
	letter-spacing: 0;
	font-weight: bold;
	width: 30px;
	height: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.treweler-marker .marker__center,
.treweler-marker-cluster .marker__center {
	background-color: #fff;
	width: 6px;
	height: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.treweler-marker .marker__border,
.treweler-marker-cluster .marker__border {
	border-width: 4px;
	border-style: solid;
	border-color: #4B7715;
	transition: all 0.2s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
	border-radius: 50%;
}
.treweler-marker .marker__shadow,
.treweler-marker-cluster .marker__shadow {
	border-width: 5px;
	border-style: solid;
	border-color: rgba(255,255,255,0.4);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
	transition: all 0.2s;
	border-radius: 50%;
}
.treweler-marker .marker:hover .marker__shadow,
.treweler-marker-cluster .marker:hover .marker__shadow {
	border-width: 8px;
}

/* Marker Style - Dark */
.treweler-marker .marker--dark .marker__shadow,
.treweler-marker-cluster .marker--dark .marker__shadow {
	border-color: rgba(255,255,255,0.1);
}

/* Cluster marker */
.treweler-marker-cluster .marker--cluster .marker-wrap {
	width: 68px;
	height: 68px;
}
.treweler-marker-cluster .marker--cluster .marker__center {
	width: 26px;
	height: 26px;
	background-color: #4B7715;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
}
.treweler-marker-cluster .marker--cluster .marker__border {
	border-width: 8px;
	border-color: rgba(75,119,21,0.4);
}
.treweler-marker-cluster .marker--cluster .marker__shadow {
	border-width: 8px;
	border-color: rgba(75,119,21,0.1);
	box-shadow: none;
}
.treweler-marker-cluster .marker--cluster:hover .marker__border {
	border-width: 10px;
}
.treweler-marker-cluster .marker--cluster:hover .marker__shadow {
	border-width: 11px;
}

/* Map Details */
.treweler-map .shortcode-map-content .treweler-map-details.logo {
	z-index:1;
}
.treweler-map .shortcode-map-content .treweler-map-details.logo .logo-tw .logo-text h3 {
	margin:0px !important;
}
.treweler-map-details.logo {
	position: absolute;
    display: table;
}
.treweler-map-details.logo.top_left {
	top: 35px;
    left: 0;
}
.treweler-map-details.logo.top_right {
	top: 35px;
    right: 0;
}
.treweler-map-details.logo.bottom_left {
	bottom: 35px;
    left: 0;
    margin-bottom: -4px;
}
.treweler-map-details.logo.bottom_right {
	bottom: 35px;
    right: 0;
    margin-bottom: -4px;
}
.treweler-map-details.logo .logo-tw {
		display: flex;
    margin: 0 35px;
	align-items: center;
}
.treweler-map-details.logo .logo-tw .logo-icon {
	margin-right: 10px;
}
.treweler-map-details.logo .logo-tw .logo-icon img {
	position: relative;
	top: -1px;
	max-height: 40px;
}

.treweler-map-details.logo .logo-tw .logo-text h3 {
	font-family: 'Akrobat', sans-serif;
	font-weight: 800;
	font-size: 26px;
	line-height: 23px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.treweler-map-details.logo .logo-tw .logo-text span {
	font-family: 'Akrobat', sans-serif;
	font-size: 17px;
	font-weight: 800;
	line-height: 19px;
	text-transform: uppercase;
display: inline-block;
}
/* Map Details */
